body {
}

input.btn.btn-primary {
    background-color: black;
}

button.answerOption {
    font-size: 20px;
    color: #fff;
    background-color: rgb(51,153, 255);
    margin-bottom: 10px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: none;
}


button.answerOption:hover {
    background-color: rgb(7,100,192);
    color: #fff;
}

#results {
    border: 1px solid transparent;
    display: none;
    padding-top: 5px;
    margin-top: 20px;
    min-height: 280px;
}

.checkMark {
    color: green;
}